@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.041), 0 4px 6px -4px rgba(0, 0, 0, 0.048);
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .wrapper nav .items {
    display: flex;
    gap: 5px;
    list-style: none;
}

.container .wrapper nav .items .item_list {
    position: relative;
}

.container .wrapper nav .items .item_list .item_link {
    display: inline-block;
    padding: 30px 20px;
    color: #18191F;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;

}

.container .wrapper nav .items .item_list .submenu {
    visibility: hidden;
    position: absolute;
    padding: 20px;
    display: grid;
    gap: 10px;
    border-radius: 5px;
    background: #f5f7fa;
    width: 200px;
    top: 90px;
    transition: all .3s linear;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.container .wrapper nav .items .item_list:hover .submenu {
    visibility: visible;
    top: 81px;
}



.container .wrapper nav .items .item_list .submenu .submenu_list {
    list-style: none;
}

.container .wrapper nav .items .item_list .submenu .submenu_list .submenu_link {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #18191F;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}



.container .wrapper nav .items .item_list .item_link i {
    font-size: 18px;
}

.container .wrapper .inner_btn {
    display: flex;
    gap: 20px;
}

.container .wrapper .inner_btn .btn_light {
    color: #4CAF4F;
    border: none;
    background: transparent;
    font-size: 18px;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
}

.container .wrapper .inner_btn .btn_solid {
    color: #fff;
    border: none;
    background: #4CAF4F;
    font-size: 18px;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
}